<div class="startseite">
  <div class="overlay">
    <h1>Willkommen bei <strong>TippHub</strong></h1>
    <p>Werde Teil der TippHub-Community, verfolge Experten-Tipps, entdecke lokale Wetttrends und analysiere Spiele mit exklusiven Statistiken – alles an einem Ort.</p>
    <button class="start-button" routerLink="/register-component">Los geht’s!</button>
    <p class="login-hint">
      Du hast schon ein Konto?
      <a routerLink="/login-component" class="link">Anmelden</a>
    </p>
  </div>
</div>
